<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.Services.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>com.Services.UserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WMPayServlet</servlet-name>
        <servlet-class>com.Mobile.WMShopServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerServlet</servlet-name>
        <servlet-class>com.Controller.ControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LinksServlet</servlet-name>
        <servlet-class>com.Models.LinksServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceServlet</servlet-name>
        <servlet-class>com.Services.ServicesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductServlet</servlet-name>
        <servlet-class>com.Services.ProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountServlet</servlet-name>
        <servlet-class>com.Services.AccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryServlet</servlet-name>
        <servlet-class>com.Services.CategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FavoritesServlet</servlet-name>
        <servlet-class>com.Services.FavoritesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderServlet</servlet-name>
        <servlet-class>com.Services.OrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WarrantsServlet</servlet-name>
        <servlet-class>com.Services.WarrantsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MessageServlet</servlet-name>
        <servlet-class>com.Services.MessageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WriteServlet</servlet-name>
        <servlet-class>com.Services.WriteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PermissionsServlet</servlet-name>
        <servlet-class>com.Services.PermissionsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductImageServlet</servlet-name>
        <servlet-class>com.Services.ProductImageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryImageServlet</servlet-name>
        <servlet-class>com.Services.CategoryImageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserImageServlet</servlet-name>
        <servlet-class>com.Services.UserImageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SchemesServlet</servlet-name>
        <servlet-class>com.Services.SchemesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookKeepingServlet</servlet-name>
        <servlet-class>com.Services.BookKeepingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/UserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WMPayServlet</servlet-name>
        <url-pattern>/WMPayServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerServlet</servlet-name>
        <url-pattern>/ControllerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LinksServlet</servlet-name>
        <url-pattern>/LinksServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceServlet</servlet-name>
        <url-pattern>/ServiceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductServlet</servlet-name>
        <url-pattern>/ProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountServlet</servlet-name>
        <url-pattern>/AccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryServlet</servlet-name>
        <url-pattern>/CategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FavoritesServlet</servlet-name>
        <url-pattern>/FavoritesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderServlet</servlet-name>
        <url-pattern>/OrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WarrantsServlet</servlet-name>
        <url-pattern>/WarrantsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MessageServlet</servlet-name>
        <url-pattern>/MessageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WriteServlet</servlet-name>
        <url-pattern>/WriteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PermissionsServlet</servlet-name>
        <url-pattern>/PermissionsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductImageServlet</servlet-name>
        <url-pattern>/ProductImageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryImageServlet</servlet-name>
        <url-pattern>/CategoryImageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserImageServlet</servlet-name>
        <url-pattern>/UserImageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SchemesServlet</servlet-name>
        <url-pattern>/SchemesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookKeepingServlet</servlet-name>
        <url-pattern>/BookKeepingServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
