/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22-Nov-2016, 15:02:33
    Author     : Stephen
*/
.hideall{
    visibility: hidden !important;
}
.blur {
    color: transparent;
    text-shadow: 0 0 8px #000;
    filter: blur(3px);
}
.bold{
    font-weight: bold !important;
}
.underline{
    text-decoration: underline !important;
}
.italics{
    font-style: italic;
}
.border{
    border: 1px solid #333 !important;
}
.border-vertical{
    border-top: 1px solid #333 !important;
    border-bottom: 1px solid #333 !important;
}
.border-horizontal{
    border-left: 1px solid #333 !important;
    border-right: 1px solid #333 !important;
}
.border-horizontal-right{
    border-right: 1px solid #333 !important;
}
.border-horizontal-left{
    border-left: 1px solid #333 !important;
}
.thin-border{
    border: thin !important;
}
.noboxshadow{
    box-shadow: none !important;
}
.bottom{
    bottom: 0 !important;
}
.fixed{
    position: fixed;
}
.noborder{
    border: none !important;
}
.borderleft{
    border-left: 1px solid !important;
}
.noleftborder{
    border-left: none !important;
}
.borderright{
    border-right: 1px solid !important;
}
.norightborder{
    border-right: none !important;
}
.bordertop{
    border-top: 1px solid !important;
}
.nobordertop{
    border-top: none !important;
}
.borderbottom{
    border-bottom: 1px solid !important;
}
.noborderbottom{
    border-bottom: none !important;
}
.noborder-vertical{
    border-top: none !important;
    border-bottom: none !important;
}
.lightborder{
    border-color: #ddd !important;
}
.faintborder{
    border-color: #eee !important;
}
.darkborder{
    border-color: #333 !important;
}
.greyborder{
    border-color: #777 !important;
}
.ashborder{
    border-color: #aaa !important;
}
.orangeborder{
    border-color: #f90 !important;
}
.purpleborder{
    border-color: #c9f !important;
}
.redborder{
    border-color: #f36 !important;
}
.thin{
    font-weight: 100 !important;
}
.nomargin{
    margin: 0 !important;
}
.nowidth{
    width: auto !important;
}
.margin{
    margin: 1em !important;
}
.margin-vertical{
    margin-top: 1em !important;
    margin-bottom: 1em !important;
}
.margin-horizontal{
    margin-left: 1em !important;
    margin-right: 1em !important;
}
.double-margin-horizontal{
    margin-left: 2em !important;
    margin-right: 2em !important;
}
.half-margin-vertical{
    margin-top: .5em !important;
    margin-bottom: .5em !important;
}
.margintop{
    margin-top: 1em !important;
}
.double-margintop{
    margin-top: 2em !important;
}
.triple-margintop{
    margin-top: 3em !important;
}
.half-margintop{
    margin-top: 0.5em !important;
}
.mini-margintop{
    margin-top: 0.2em !important;
}
.tiny-margintop{
    margin-top: 0.1em !important;
}
.neg-margintop{
    margin-top: -1em !important;
}
.neg-half-margintop{
    margin-top: -0.5em !important;
}
.neg-mini-margintop{
    margin-top: -0.2em !important;
}
.nomargintop{
    margin-top: 0 !important;
}
.marginbottom{
    margin-bottom: 1em !important;
}
.double-marginbottom{
    margin-bottom: 2em !important;
}
.half-marginbottom{
    margin-bottom: 0.5em !important;
}
.mini-marginbottom{
    margin-bottom: 0.2em !important;
}
.neg-marginbottom{
    margin-bottom: -1em !important;
}
.neg-half-marginbottom{
    margin-bottom: -0.5em !important;
}
.neg-half-margin-vertical{
    margin-bottom: -0.5em !important;
    margin-top: -0.5em !important;
}
.neg-mini-margin-vertical{
    margin-bottom: -0.2em !important;
    margin-top: -0.2em !important;
}
.mini-margin-vertical{
    margin-bottom: 0.2em !important;
    margin-top: 0.2em !important;
}
.nomarginbottom{
    margin-bottom: 0 !important;
}
.marginleft{
    margin-left: 1em !important;
}
.double-marginleft{
    margin-left: 2em !important;
}
.half-marginleft{
    margin-left: 0.5em !important;
}
.mini-marginleft{
    margin-left: 0.2em !important;
}
.nomarginleft{
    margin-left: 0 !important;
}
.neg-marginleft{
    margin-left: -1em !important;
}
.neg-half-marginleft{
    margin-left: -.5em !important;
}
.neg-double-marginleft{
    margin-left: -2em !important;
}
.marginright{
    margin-right: 1em !important;
}
.double-marginright{
    margin-right: 2em !important;
}
.half-marginright{
    margin-right: 0.5em !important;
}
.mini-marginright{
    margin-right: 0.2em !important;
}
.nomarginright{
    margin-right: 0 !important;
}
.neg-mini-marginright{
    margin-right: -.2em !important;
}
.neg-half-marginright{
    margin-right: -.5em !important;
}
.neg-marginright{
    margin-right: -1em !important;
}
.mini-margin-horizontal{
    margin-left: 0.2em !important;
    margin-right: 0.2em !important;
}
.nopadding{
    padding: 0 !important;
}
.nopadding-vertical{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.nopadding-horizontal{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.nopadding-bottom{
    padding-bottom: 0 !important;
}
.nopadding-top{
    padding-top: 0 !important;
}
.padding{
    padding: 1em !important;
}
.double-padding{
    padding: 2em !important;
}
.padding-vertical{
    padding-top: 1em !important;
    padding-bottom: 1em !important;
}
.padding-horizontal{
    padding-left: 1em !important;
    padding-right: 1em !important;
}
.double-padding-horizontal{
    padding-left: 2em !important;
    padding-right: 2em !important;
}
.half-padding{
    padding: 0.5em !important;
}
.mini-padding{
    padding: 0.2em !important;
}
.paddingtop{
    padding-top: 1em !important;
}
.mini-paddingtop{
    padding-top: 0.2em !important;
}
.half-paddingtop{
    padding-top: 0.5em !important;
}
.paddingbottom{
    padding-bottom: 1em !important;
}
.half-paddingbottom{
    padding-bottom: 0.5em !important;
}
.mini-paddingbottom{
    padding-bottom: 0.2em !important;
}
.paddingleft{
    padding-left: 1em !important;
}
.nopaddingleft{
    padding-left: 0 !important;
}
.half-paddingleft{
    padding-left: 0.5em !important;
}
.double-paddingleft{
    padding-left: 2em !important;
}
.paddingright{
    padding-right: 1em !important;
}
.double-paddingright{
    padding-right: 2em !important;
}
.nopaddingright{
    padding-right: 0 !important;
}
.half-paddingright{
    padding-right: 0.5em !important;
}
.half-padding-vertical{
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
}
.half-padding-horizontal{
    padding-left: 0.5em !important;
    padding-right: 0.5em !important;
}
.mini-padding-vertical{
    padding-top: 0.2em !important;
    padding-bottom: 0.2em !important;
}
.mini-padding-horizontal{
    padding-left: 0.2em !important;
    padding-right: 0.2em !important;
}
.closespaceup{
    margin-top: -0.5em !important;
}
.smalltext{
    font-size: 0.7em !important;
}
.smallertext{
    font-size: 0.5em !important;
}
.mediumtext{
    font-size: 0.8em !important;
}
.almost-normaltext{
    font-size: .9em !important;
}
.normaltext{
    font-size: 1em !important;
}
.largetext{
    font-size: 1.5em !important;
}
.slightly-largetext{
    font-size: 1.3em !important;
}
.doubletext{
    font-size: 2em !important;
}
.extralargetext{
    font-size: 2.5em !important;
}
.center{
    text-align: center !important;
    margin: auto !important;
}
.justify{
    text-align: justify !important;
    margin: auto !important;
}
.wide{
    width: 100% !important;
}
.left{
    float: left !important;
}
.right{
    float: right !important;
    /*right: 100% !important;*/
}
.textleft{
    text-align: left !important;
}
.textright{
    text-align: right !important;
}
.textcenter{
    text-align: center !important;
}
.halfwide{
    width: 49% !important;
}
.miniwide{
    width: 30% !important;
}
.smallwide{
    width: 25% !important;
}
.smallerwide{
    width: 10% !important;
}
.doublesmallerwide{
    width: 15% !important;
}
.wide-85px{
    width: 85px !important;
}
.midiwide{
    width: 37% !important;
}
.quarterwide{
    width: 25% !important;
}
.wide-6x{
    width: 60% !important;
}
.wide-7x{
    width: 70% !important;
}
.twothirdswide{
    width: 65% !important;
}
.threequarterwide{
    width: 75% !important;
}
.almostwide{
    width: 85% !important;
}
.wide-minus-padding{
    width: calc(100% - 1em) !important;
}
.halfwide-minus-padding{
    width: calc(49% - 1em) !important;
}
.wide-minus-double-padding{
    width: calc(100% - 2em) !important;
}
.max-width-300{
    max-width: 300px !important;
}
.max-width-800{
    max-width: 50% !important;
}
.max-width-none{
    max-width: none !important;
}
.min-width-50{
    min-width: 50px !important;
}
.smallrow{
    line-height: 0.2em !important;
}
.scroll{
    overflow: auto !important;
}
.cursor{
    cursor: pointer !important;
}
.optionSelected{
    background-color: #fff !important;
    color: #333 !important;
}
.hide{
    visibility: hidden !important;
    display: none !important;
}
.grey{
    background-color: #666666 !important;
    border-color: #555 !important;
}
.greytext{
    color: #666666 !important;
}
.ash{
    background-color: #aaa !important;
    border-color: #999 !important;
}
.ashtext{
    color: #aaa !important;
}
.silver{
    background-color: #eee !important;
    border-color: #ddd !important;
}
.silvertext{
    color: #eee !important;
}
.light{
    background-color: #f7f7f7;
}
.verylight{
    background-color: #fbfbfb;
}
.blacktext{
    color: #333 !important;
}
.transparenttext{
    color: transparent !important;
}
.transparent{
    background-color: transparent !important;
}
.redtext{
    color: #f03 !important;
}
.blue{
    background-color: #009ce9 !important;
}
.redback{
    background-color: #f03 !important;
}
.yellow{
    background-color: #ff3 !important;
}
.orange{
    background-color: #f90 !important;
}
.purple{
    background-color: #8878b7 !important;
}
.yellowtext{
    color: #ff3 !important;
}
.greentext{
    color: #093 !important;
}
.black{
    background-color: #000 !important;
}
.white{
    background-color: #fff !important;
}
.whitetext{
    color: #fff !important;
}
.whiteborder{
    border-color: #fff !important;
}
.bluetext{
    color: #069 !important;
}
.orangetext{
    color: #f90 !important;
}
.greenbtn{
    background-color: #093 !important;
    color: #fff !important;
    border: 1px solid #093 !important;
}
.greenbtn:hover{
    background-color: #fff !important;
    border-color: #093 !important;
    color: #333 !important;
}
.bluebtn{
    background-color: #036 !important;
    color: #fff !important;
    border: 1px solid #036 !important;
}
.bluebtn:hover{
    background-color: #fff !important;
    border-color: #036 !important;
    color: #333 !important;
}
.transparentbtn{
    background-color: transparent !important;
    border-color: transparent !important;
}
.redbtn{
    background-color: #f03 !important;
    color: #fff !important;
    border: 1px solid #f03 !important;
}
.redbtn:hover{
    background-color: #fff !important;
    border-color: #f03 !important;
    color: #333 !important;
}
.pinkbtn{
    background-color: #FF5375 !important;
    color: #fff !important;
    border: 1px solid #FF5375 !important;
}
.pinkbtn:hover{
    background-color: #fff !important;
    border-color: #FF5375 !important;
    color: #333 !important;
}
.greybtn{
    background-color: #777 !important;
    color: #fff !important;
    border: 1px solid #666 !important;
}
.greybtn:hover{
    background-color: #fff !important;
    border-color: #777 !important;
    color: #333 !important;
}
.ashbtn{
    background-color: #aaa !important;
    color: #fff !important;
    border: 1px solid #999 !important;
}
.ashbtn:hover{
    background-color: #fff !important;
    border-color: #aaa !important;
    color: #333 !important;
}
.lightbtn{
    background-color: #eee !important;
    color: #777 !important;
    border: 1px solid #ddd;
}
.lightbtn:hover{
    background-color: #fff !important;
    border-color: #eee;
    color: #777 !important;
}
.silverbtn{
    background-color: #f9f9f9 !important;
    color: #333 !important;
}
.silverbtn:hover{
    background-color: #fff !important;
    color: #333 !important;
}
.silvertextbtn{
    color: #f3f3f3 !important;
}
.silvertextbtn:hover{
    color: #333 !important;
}
.blackbtn{
    background-color: #333 !important;
    color: #fff !important;
    border: 1px solid #333 !important;
}
.blackbtn:hover{
    background-color: #fff !important;
    border-color: #333 !important;
    color: #333 !important;
}
.whitebtn{
    background-color: #fff !important;
    color: #333 !important;
    cursor: pointer;
}
.whitebtn:hover{
    background-color: #ddd !important;
}
.goldbtn{
    background-color: #fc3 !important;
    color: #333 !important;
    border: 1px solid #fc3 !important;
}
.goldbtn:hover{
    background-color: #333 !important;
    border-color: #fc3 !important;
    color: #fc3 !important;
}
.goldtext{
    color: #fc3 !important;
}
.yellowbtn{
    background-color: #ff3 !important;
    color: #333 !important;
    border: 1px solid #ff3 !important;
}
.yellowbtn:hover{
    background-color: #333 !important;
    border-color: #ff3 !important;
    color: #ff3 !important;
}
.bluebtn{
    background-color: #3cf !important;
    color: #fff !important;
    border: 1px solid #3cf !important;
}
.bluebtn:hover{
    background-color: #333 !important;
    border-color: #3cf !important;
    color: #3cf !important;
}
.orangebtn{
    background-color: #f90 !important;
    color: #fff !important;
    border: 1px solid #f90 !important;
}
.orangebtn:hover{
    background-color: #fff !important;
    border-color: #f90 !important;
    color: #f90 !important;
}
.purplebtn{
    background-color: #c9f !important;
    color: #fff !important;
    border: 1px solid #c9f !important;
}
.purplebtn:hover{
    background-color: #333 !important;
    border-color: #c9f !important;
    color: #c9f !important;
}
.redbtn{
    background-color: #f36 !important;
    color: #fff !important;
    border: 1px solid #f36 !important;
}
.redbtn:hover{
    background-color: #fff !important;
    border-color: #f36 !important;
    color: #f36 !important;
}
.parts{
    display: inline-block;
    vertical-align: middle !important;
}
.parts-top{
    display: inline-block;
    vertical-align: top !important;
}
.box{
    padding: 4em 8em;
}
.textDiv{
    position: relative;
    margin-bottom: 20px;
    line-height: 3em;
    font-weight: 100;
}
.textdesc{
    position: absolute;
    top: 5px;
    left: 5%;
    line-height: 0.5em;
    font-size: 0.8em;
}
.txt{
    font-family: inherit;
    border: 1px solid #ddd;
    width: calc(90% - 2px);
    padding: .5em 5%;
    font-size: 1.3em;
    border-radius: 20px;
    margin-bottom: .5em;
}
.txtArea{
    border: 1px solid #ddd;
    width: calc(96% - 2px);
    padding: .5em 2%;
    font-size: .9em;
    resize: none;
    height: 20px;
    font-family: inherit;
}
.half-txt{
    display: inline-block;
    width: calc(41% - 1em) !important;
}
.txtFocus{
    border-left: 1px solid #444;
    border-right: 1px solid #444;
    background-color: #fff;
}
.txt:focus { 
    outline: none !important;
    border-color: #9ecaed !important;
    /*box-shadow: 0 0 10px #9ecaed !important;*/
}
.txtarea{
    font-family: Calibri;
    font-size: 1em;
    height: 1.3em;
    padding-top: 0.6em;
}
.txt:disabled{
    border-color: #ddd;
}
.btn{
    font-size: 1em;
    padding: 0.5em 0 0.6em;
    cursor: pointer;
}
.display-table{
    display: table !important;
}
.display-table-cell{
    display: table-cell !important;
    vertical-align: middle !important;
}
.radius{
    border-radius: 10px !important;
}
.mini-radius{
    border-radius: 5px !important;
}
.mini-radius{
    border-radius: 5px;
}
.left-radius{
    border-top-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
}
.right-raius{
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;    
}
.minibtn{
    font-size: 1em;
    padding: 0.3em 0;
    cursor: pointer;
}
.linkbtn{
    cursor: pointer;
}
.linkbtn:hover{
    text-decoration: underline;
}
.round{
    border-radius: 50%;
}
.loader {
    position: fixed;
    background-color: rgba(0,0,0, 0.8);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
}
.loadercircle{
    margin-left: calc(50% - 50px);
    margin-top: 20%;
    width: 50px;
    height: 50px;
    border: 0.5em solid #fff; /* white */
    border-top: 0.5em solid #3498db; /* Blue */
    border-radius: 50%;
    animation: spin 1.5s normal infinite;
}
.tooltipParent{
    /*position: relative;*/
}
textarea{
    font-family: inherit;
}
.tooltip{
    /*    position: absolute;
        background-color: #333;
        color: #fff;
        border-radius: 5px;
        padding: .2em .7em .25em;
        font-size: 1em;
        font-weight: normal;
        white-space: nowrap;
        z-index: 10;*/
}
.lefttip{
    right: 110%;
    top: calc(50% - .8em);
}
.lefttip::after{
    content:'';
    position: absolute;
    top: 10%;
    left: 95%;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 10px solid #333;
}
.righttip{
    left: 110%;
    top: calc(50% - .6em);
}
.righttip::after{
    content:'';
    position: absolute;
    top: 25%;
    right: 95%;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 7px solid #333;
}
.bottomtip{
    top: 110%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.bottomtip::after{
    content:'';
    position: absolute;
    right: 45%;
    bottom: 95%;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 7px solid #333;
}

.orderdetails-modal{
    overflow:scroll !important;;
}

.order-product-supplier-details-modal{
    overflow:scroll !important;;
}
.overflow{
    overflow: auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
a{
    text-decoration: none;
    color: inherit;
}
.overlay{
    background-color: rgba(0,0,0,0.8);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
}
.scroll-overflow-vertical{
    overflow-y: auto !important;
}
.above{
    z-index: 1000;
}
.lightbluetext{
    color: #9ff !important;
}
.heavybluetext{
    color: #00f !important;
}
.autoCompleteParent{
    position: relative;
}
.autoCompleteContainer{
    position: absolute;
    top: 100%;
    max-height: 200px;
    overflow: auto;
}
.relative{
    position: relative;
}
.vertical-center-parent{
    display: table;
    width: 100%;
}
.vertical-center-child{
    display: table-cell;
    vertical-align: middle;
}
.auto-margin {
    margin: auto !important;
}





































@media screen and (max-device-width: 700px) {
    .loadercircle{
        margin-left: calc(50% - 2.5em);
        margin-top: calc(50% - 2.5em);
        width: 5em;
        height: 5em;
    }
    .normaltext-mobile{
        font-size: 1em !important;
    }
    .nopadding-mobile{
        padding: 0 !important;
    }
    .nopadding-horizontal-mobile{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .double-padding-horizontal-mobile{
        padding-left: 2em !important;
        padding-right: 2em !important;
    }
    .padding-horizontal-mobile{
        padding-left: 1em !important;
        padding-right: 1em !important;
    }
    .half-padding-horizontal-mobile{
        padding-left: .5em !important;
        padding-right: .5em !important;
    }
    .half-margin-bottom-mobile{
        margin-bottom: .5em !important;
    }
    .margin-bottom-mobile{
        margin-bottom: 1em !important;
    }
    .wide-mobile{
        width: 100% !important;
    }
    .threequarterwide-mobile{
        width: 75% !important;
    }
    .tooltip{
        /*        position: initial;
                display: inline-block;
                background-color: transparent;
                font-size: 1em;
                color: inherit;*/
    }
    .paymentsection {
        padding: 20px 0;
    }
}